<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>261453990101-qi27di3avnodq47dbpkpllv6kelnm0g3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.261453990101-qi27di3avnodq47dbpkpllv6kelnm0g3</string>
	<key>API_KEY</key>
	<string>AIzaSyBExjXOUx4MUVtymGLsPAXxKwwWIo76u8I</string>
	<key>GCM_SENDER_ID</key>
	<string>261453990101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Pal.Sanskar.MicroTasks</string>
	<key>PROJECT_ID</key>
	<string>swiftmicrotask</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftmicrotask.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261453990101:ios:70240e55aabc80a4befa5c</string>
</dict>
</plist>